# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Data (IMPORTANT 🚫)
data/
*.csv

# Models (optional: keep if you don't want to upload models)
# *.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db